@import 'normalize.css/normalize';
@import './variables';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-size: $font-base;
  font-family: $font-family-body;
}

pre,
code {
  font-family: $font-family-mono;
  color: inherit;
  font-weight: inherit;
  tab-size: 2;
}

strong,
b,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $bold-weight;
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 0.05em 0 0.1em;
  vertical-align: -0.1em;
}
