$transition-fast: 100ms;
$transition-slow: 300ms;

$bold-weight: 500;

$highlight-size: 2px;
$border-size: 1px;
$active-size: 3px;
$active-radius: 2px;

$space-card: 22px;
$space-mobile: 16px;
$space-para: 15px;

$corner-radius-lg: 8px;
$corner-radius-md: 6px;
$corner-radius-sm: 4px;

$font-xl: 20px;
$font-lg: 18px;
$font-md: 15px;
$font-sm: 14px;
$font-xs: 12px;

$font-family-cjk: 'Noto Sans SC', 'Noto Sans JP';
$font-family-latin: Inter, -apple-system, BlinkMacSystemFont;
$font-family-body: $font-family-latin, $font-family-cjk, sans-serif;
$font-family-mono: 'Fira Code', $font-family-cjk, monospace;

$filter-blur: saturate(180%) blur(3px);
$filter-mica: saturate(200%) blur(24px);
