@import '../package/reset';
@import '../package/colors';
@import '../package/prism';
@import '../package/markdown';
@import './remap';

html,
body,
#root {
  height: 100%;
  color: var(--color-font);
  background-color: var(--color-body);
}

::selection {
  color: #ffffff;
  background-color: var(--color-primary);
}

a {
  color: var(--color-font);
  transition: color $transition-duration ease;

  &:hover {
    color: var(--color-primary);
  }
}
