@import '../package/scss/reset';
@import '../package/scss/colors';
@import '../package/scss/prism';
@import '../package/scss/markdown';
@import './remap';

html,
body,
#root {
  height: 100%;
  color: var(--color-font);
  background-color: var(--color-body);
  overflow-y: auto;
}

::selection {
  color: #ffffff;
  background-color: var(--color-primary);
}

a {
  color: var(--color-font);
  transition: color $transition-fast ease;

  &:hover {
    color: var(--color-primary);
  }
}
