*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  font-size: 14px;
  color: $color-font;
  background-color: $color-body;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

::selection {
  color: #ffffff;
  background-color: $color-primary;
}

a {
  color: $color-font;
  transition: color $transition-duration ease;

  &:hover {
    color: $color-primary;
  }
}
