// cover package colors (dark mode)
// to force this app running in light mode

body {
  --color-primary: #8aa2d3;
  --color-primary-active: #9db1da;
  --color-transparent-active: #f0f1f3;
  --color-success: #77ccb0;
  --color-success-active: #8ad3bb;
  --color-danger: #d38aa2;
  --color-danger-active: #da9db1;
  --color-body: #f2f2f2;
  --color-bg: #ffffff;
  --color-border: #dadfe6;
  --color-font: #24292f;
  --color-font-inverse: #fdfdfd;
  --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);

  // @media (prefers-color-scheme: dark) {
  --dark-color-transparent-active: #585c61;
  --dark-color-body: #2f3136;
  --dark-color-bg: #474b51;
  --dark-color-border: #34373d;
  --dark-color-font: #e1e1e1;
  --dark-color-font-inverse: #24292f;
  --dark-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  // }

  --color-prism-grey: #93a1a1;
  --color-prism-blue: #7c91bd;
  --color-prism-cyan: #8b81c3;
  --color-prism-entity: #657b83;
  --color-prism-green: #51a2a0;
  --color-prism-yellow: #ee7800;
  --color-prism-orange: #e45435;

  // @media (prefers-color-scheme: dark) {
  --dark-color-prism-grey: #93a1a1;
  --dark-color-prism-blue: #95abd7;
  --dark-color-prism-cyan: #bab1df;
  --dark-color-prism-entity: #657b83;
  --dark-color-prism-green: #8ec298;
  --dark-color-prism-yellow: #e3c26a;
  --dark-color-prism-orange: #ee869a;
  // }
}

.prism-dark {
  .token {
    &.comment,
    &.block-comment,
    &.prolog,
    &.doctype,
    &.cdata {
      color: var(--dark-color-prism-grey);
    }

    &.property,
    &.tag,
    &.boolean,
    &.number,
    &.constant,
    &.symbol,
    &.deleted {
      color: var(--dark-color-prism-blue);
    }

    &.selector,
    &.attr-name,
    &.string,
    &.char,
    &.builtin,
    &.url,
    &.inserted {
      color: var(--dark-color-prism-cyan);
    }

    &.entity {
      color: var(--dark-color-prism-entity);
    }

    &.atrule,
    &.attr-value,
    &.keyword {
      color: var(--dark-color-prism-green);
    }

    &.function,
    &.class-name {
      color: var(--dark-color-prism-yellow);
    }

    &.regex,
    &.important,
    &.variable {
      color: var(--dark-color-prism-orange);
    }
  }
}
