$font-mono: monospace;

$transition-duration: 200ms;
$border-radius: 2px;
$weight-bold: 500;

$box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
$dark-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

$color-primary: #8aa2d3;
$color-primary-active: #9db1da;
$color-transparent-active: #f0f1f3;
$color-success: #77ccb0;
$color-success-active: #8ad3bb;
$color-danger: #d38aa2;
$color-danger-active: #da9db1;
$color-body: #f2f2f2;
$color-bg: #ffffff;
$color-border: #dadfe6;
$color-font: #24292f;
$color-font-invert: #fdfdfd;

$dark-color-primary: #8aa2d3;
$dark-color-primary-active: #9db1da;
$dark-color-transparent-active: #585c61;
$dark-color-success: #77ccb0;
$dark-color-success-active: #8ad3bb;
$dark-color-danger: #d38aa2;
$dark-color-danger-active: #da9db1;
$dark-color-body: #2f3136;
$dark-color-bg: #474b51;
$dark-color-border: #34373d;
$dark-color-font: #e1e1e1;
$dark-color-font-invert: #24292f;
