$font-cjk: 'Noto Sans SC', 'Noto Sans JP';
$font-en: Inter, -apple-system, BlinkMacSystemFont;
$font-mono: 'Fira Code', $font-cjk, monospace;
$font-body: $font-en, $font-cjk, sans-serif;

$transition-duration: 100ms;
$border-radius: 2px;
$weight-bold: 500;
