.colorGrid {
  position: relative;
  width: 100%;
  height: 80px;
  border-radius: $corner-radius-lg;
  overflow: hidden;
  z-index: 10;
  box-shadow: var(--box-shadow-backdrop);
}

.display {
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: background-color $transition-fast ease;
}

.wrapper {
  z-index: 30;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-wrap: wrap;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  user-select: none;
  font-size: $font-lg;
  width: 200px;
}

.code {
  font-family: $font-family-mono;
  width: 300px;
}
