$transition-duration: 100ms;
$corner-radius: 2px;
$bold-weight: 500;

$highlight-size: 2px;
$border-size: 2px;

$space-card: 20px;
$space-para: 15px;

$font-xl: 20px;
$font-lg: 18px;
$font-md: 15px;
$font-sm: 14px;
$font-xs: 12px;

$font-family-cjk: 'Noto Sans SC', 'Noto Sans JP';
$font-family-latin: Inter, -apple-system, BlinkMacSystemFont;
$font-family-body: $font-family-latin, $font-family-cjk, sans-serif;
$font-family-mono: 'Fira Code', $font-family-cjk, monospace;
